[submodule "third_party/Depth-Anything-3"]
	path = third_party/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
	ignore = dirty
[submodule "third_party/3dgrut"]
	path = third_party/3dgrut
	url = https://github.com/nv-tlabs/3dgrut.git
	ignore = dirty
[submodule "third_party/anysplat"]
	path = third_party/anysplat
	url = https://github.com/OpenRobotLab/AnySplat.git
